<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terminal</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/main.css">
</head>
<body class="bg-pro">
    <div class="flex justify-center items-center">
        <form action="/terminal" method="post">
            <input class=" mt-4 bg-black text-white h-16 w-40 text-lg font-mono path" type="text" name="path" placeholder="Enter Path of js file"><br>
            <button class=" h-16 w-40 bg-green-600 hover:bg-green-700 mt-4 text-white font-Poppins text-lg" type="submit">Run</button>
        </form>
    </div>
</body>
</html>